<section data-background="#2a3439">
  <img class="speaker" src="http://gogaruco.com/images/<%= image %>"/>
  <p>
    <%= name %> / <%= twitter %>
  </p>
  <aside class="notes">
    <%= description %>
  </aside>
</section>
