<%= partial :heading, :locals => { page: data.titles.submissions } %>

<div class="content intro">
  <div class="master-column">
    <% data.submissions.list.each do |item| %>
    <p><%= item.item %></p>
    <% end %>
    <p class="cta-speakers cta-inline"><a href="http://gogaruco-cfp.herokuapp.com/events/gogaruco-2014" class="button">Submit a Talk</a></p>
  </div>
</div>
